.experiencia {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    align-items: center;
    gap: 60px;
    margin-bottom: 100px;
}

.experiencia-resumo {
    font-size: 1.5rem;
    color: #525252;
    line-height: 1.25;
    max-width: 40ch;
    padding: 0 0 40px 0;
}

.experiencia-resumo strong {
    color: #141414;
}

.experiencia-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 60px;
    padding: 20px;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
}

.experiencia-ano {
    position: absolute;
    left: 10px;
    top: -40px;
    font-family: "Fira Sans";
    font-weight: normal;
}

.experiencia-info::before {
    content: '';
    height: 5px;
    width: 30px;
    border-radius: 4px;
    top: -5px;
    left: 10px;
    position: absolute;
    background: linear-gradient(#A839FF, #701CDA);
}

.experiencia-info h3,
span {
    /* font-family: "PlayFair Display"; */
    font-weight: bold;
    font-size: 1.125rem;
}

.experiencia-info p {
    color: #525252;
    font-size: 1rem;
}

.experiencia-info ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.experiencia-info li {
    font-size: 0.875rem;
    line-height: 1.4;
    border-radius: 4px;
    background: #ffffff;
    padding: 5px 10px;
}

@media (max-width: 1000px) {
    .experiencia {
        gap: 20px;
        padding: 80px 0 20px 0;
    }

    .subtitulo {
        font-size: 5rem;
    }

    .experiencia-resumo {
        font-size: 1.25rem;
    }

    .experiencia-info {
        margin: 30px 10px;
    }
}

@media (max-width: 700px) {

    .subtitulo {
        font-size: 2rem;
    }

    .experiencia-resumo {
        font-size: 1rem;
        padding: 0 20px 60px 20px;
    }

    .experiencia-info {
        gap: 20px;
    }

}

@media (max-width: 400px) {

    .experiencia-info {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}