*{
    /* background: chocolate; */
}

body {
    font-family: "Fira Sans";
    margin: 0;
    padding: 0;

}

ul,
li,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.subtitulo {
    font-family: "Playfair Display";
    color: #E0E0E0;
    font-size: 9rem;
    text-transform: uppercase;
}

@media(max-width: 600px) {
    .subtitulo {
        font-size: 10rem;
    }
}