/* ABOUT ME */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-bottom: 20rem;
}

.about .programming-image img {
  height: 400px;
}

.about .skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about .skills h1 {
  font-size: 2.5rem;
}
.about .skills p {
  font-size: 1.1rem;
}

.about .skills ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.about .skills ul li {
  border: #701cda solid 1px;
  border-radius: 0.4rem;
  padding: 0.3rem 0.6rem;
}

.about .skills .download-cv {
  background-color: #701cda;
  align-self: start;
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
